# Dynamic Prompt
<img src="./assets/LC_DynamicPrompts.png" width="500">

## Setup

Load and/or check for needed environmental variables

In [11]:
from dotenv import load_dotenv
from env_utils import doublecheck_env

# Load environment variables from .env
load_dotenv()

# Check and print results
doublecheck_env("example.env")

OPENAI_API_KEY=<not set>
LANGSMITH_API_KEY=****4abe
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=****ad-6

In [12]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [13]:
from dataclasses import dataclass


@dataclass
class RuntimeContext:
    is_employee: bool
    db: SQLDatabase

In [14]:
from langchain_core.tools import tool
from langgraph.runtime import get_runtime

@tool
def execute_sql(query: str) -> str:
    """Execute a SQLite command and return results."""
    runtime = get_runtime(RuntimeContext)
    db = runtime.context.db

    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [15]:
SYSTEM_PROMPT_TEMPLATE = """You are a careful SQLite analyst.

Rules:
- Think step-by-step.
- When you need data, call the tool `execute_sql` with ONE SELECT query.
- Read-only only; no INSERT/UPDATE/DELETE/ALTER/DROP/CREATE/REPLACE/TRUNCATE.
- Limit to 5 rows unless the user explicitly asks otherwise.
{table_limits}
- If the tool returns 'Error:', revise the SQL and try again.
- Prefer explicit column lists; avoid SELECT *.
"""

## Build a Dynamic Prompt
Utilize runtime context and middleware to generate a dynamic prompt.

In [16]:
from langchain.agents.middleware.types import ModelRequest, dynamic_prompt


@dynamic_prompt
def dynamic_system_prompt(request: ModelRequest) -> str:
    if not request.runtime.context.is_employee:
        table_limits = "- Limit access to these tables: Album, Artist, Genre, Playlist, PlaylistTrack, Track."
    else:
        table_limits = ""

    return SYSTEM_PROMPT_TEMPLATE.format(table_limits=table_limits)

Include middleware in `create_agent`.

In [17]:
from langchain.agents import create_agent

agent = create_agent(
    model="ollama:gpt-oss:20b",
    tools=[execute_sql],
    middleware=[dynamic_system_prompt],
    context_schema=RuntimeContext,
)

In [18]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=False, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (2b21d9b7-ac45-4f52-b535-0a16da83f4bd)
 Call ID: 2b21d9b7-ac45-4f52-b535-0a16da83f4bd
  Args:
    query: SELECT t.Name, t.UnitPrice
FROM Track t
JOIN Album a ON t.AlbumId = a.AlbumId
JOIN Artist ar ON a.ArtistId = ar.ArtistId
WHERE ar.Name = 'Frank Harris'
ORDER BY t.UnitPrice DESC
LIMIT 1;
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================

I’m sorry, but the tables that contain purchase information (such as Invoice, InvoiceLine, or Customer) aren’t available in the current schema, so I can’t determine who “Frank Harris” is or what he purchased.

If you have a different table or dataset that includes purchase records, let me know and I can help query that instead!

In [19]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=True, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (8e0f926a-29b3-4a66-8c94-56f8c57ea9f0)
 Call ID: 8e0f926a-29b3-4a66-8c94-56f8c57ea9f0
  Args:
    query: PRAGMA table_info(purchases);
================================= Tool Message =================================
Name: execute_sql


================================== Ai Message ==================================
Tool Calls:
  execute_sql (fbb31031-68ff-4837-8b36-6c90eceec6aa)
 Call ID: fbb31031-68ff-4837-8b36-6c90eceec6aa
  Args:
    query: SELECT name FROM sqlite_master WHERE type='table';
================================= Tool Message =================================
Name: execute_sql

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]
================================== Ai Message ==================================

We need purchases by Frank Harris. We have tables: Customer, Invoice, InvoiceLine, etc. Frank Harris likely a customer. Let's find customer id.
Tool Calls:
  execute_sql (7ce5a5f7-715e-4b2e-bfd9-b8a333e770a5)
 Call ID: 7ce5a5f7-715e-4b2e-bfd9-b8a333e770a5
  Args:
    query: SELECT CustomerId, FirstName, LastName FROM Customer WHERE FirstName='Frank' AND LastName='Harris';
================================= Tool Message =================================
Name: execute_sql

[(16, 'Frank', 'Harris')]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (8d6d754a-093b-47b7-8b19-7841768ef428)
 Call ID: 8d6d754a-093b-47b7-8b19-7841768ef428
  Args:
    query: SELECT InvoiceId, InvoiceDate FROM Invoice WHERE CustomerId=16;
================================= Tool Message =================================
Name: execute_sql

[(13, '2009-02-19 00:00:00'), (134, '2010-08-13 00:00:00'), (145, '2010-09-23 00:00:00'), (200, '2011-05-24 00:00:00'), (329, '2012-12-28 00:00:00'), (352, '2013-04-01 00:00:00'), (374, '2013-07-04 00:00:00')]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (6d2ea291-ee81-476d-b231-bdfd1e314093)
 Call ID: 6d2ea291-ee81-476d-b231-bdfd1e314093
  Args:
    query: SELECT InvoiceId, InvoiceLineId, UnitPrice, Quantity, UnitPrice*Quantity AS Total FROM InvoiceLine WHERE InvoiceId IN (13,134,145,200,329,352,374);
================================= Tool Message =================================
Name: execute_sql

[(13, 74, 0.99, 1, 0.99), (134, 723, 0.99, 1, 0.99), (134, 724, 0.99, 1, 0.99), (145, 782, 0.99, 1, 0.99), (145, 783, 0.99, 1, 0.99), (145, 784, 0.99, 1, 0.99), (145, 785, 0.99, 1, 0.99), (145, 786, 0.99, 1, 0.99), (145, 787, 0.99, 1, 0.99), (145, 788, 0.99, 1, 0.99), (145, 789, 0.99, 1, 0.99), (145, 790, 0.99, 1, 0.99), (145, 791, 0.99, 1, 0.99), (145, 792, 0.99, 1, 0.99), (145, 793, 0.99, 1, 0.99), (145, 794, 0.99, 1, 0.99), (145, 795, 0.99, 1, 0.99), (200, 1077, 0.99, 1, 0.99), (200, 1078, 0.99, 1, 0.99), (200, 1079, 0.99, 1, 0.99), (200, 1080, 0.99, 1, 0.99), (200, 1081, 0.99, 1, 0.99), (200, 1082, 0.99, 1, 0.99), (200, 1083, 0.99, 1, 0.99), (200, 1084, 0.99, 1, 0.99), (200, 1085, 0.99, 1, 0.99), (329, 1785, 0.99, 1, 0.99), (329, 1786, 0.99, 1, 0.99), (352, 1903, 0.99, 1, 0.99), (352, 1904, 0.99, 1, 0.99), (352, 1905, 0.99, 1, 0.99), (352, 1906, 0.99, 1, 0.99), (374, 2021, 0.99, 1, 0.99), (374, 2022, 0.99, 1, 0.99), (374, 2023, 0.99, 1, 0.99), (374, 2024, 0.99, 1, 0.99), (374, 2025, 0.99, 1, 0.99), (374, 2026, 0.99, 1, 0.99)]
================================== Ai Message ==================================
Tool Calls:
  execute_sql (7fc0f769-287f-4bee-b29a-3adf20e3b586)
 Call ID: 7fc0f769-287f-4bee-b29a-3adf20e3b586
  Args:
    query: SELECT i.InvoiceId, SUM(il.UnitPrice*il.Quantity) AS Total FROM Invoice i JOIN InvoiceLine il ON i.InvoiceId=il.InvoiceId WHERE i.CustomerId=16 GROUP BY i.InvoiceId ORDER BY Total DESC LIMIT 5;
================================= Tool Message =================================
Name: execute_sql

[(145, 13.86), (200, 8.91), (374, 5.9399999999999995), (352, 3.96), (134, 1.98)]
================================== Ai Message ==================================

The most expensive purchase Frank Harris made was the invoice dated **2010‑09‑23** (InvoiceId 145).
Its total amount was **$13.86** (13 tracks × $0.99 each).